.container {
    
    
}
.col {
    border: dotted 2px black;
}

.row {
    
    border: dotted 2px black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-bottom: 10px;
  }