.container {
    background-color: black;
}
.col {
    border: dotted 4px white;
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.row {

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-bottom: 10px;
}
.font {
    color: white;
    left: 0px;
    right: 0px;
    text-align: center;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
body {
    background-color: black;
  }